<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <h1 class="col-6 offset-3">login into wanderlust </h1>
    <div class="col-6 offset-3">   
    <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mb-3">
        <lable for="username"class="form-label">username: </lable><br>
        <input type="text" class="form-control"name="username" id="username" required><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid username
          </div>
        </div>
        <div class="mb-3">
                <lable for="password"class="form-label">password: </lable><br>
                <input type="password" class="form-control"name="password" id="password" required><br>
        </div>
        <div class="mb-4">
            <button class="btn btn-outline-dark">login</button>
        </div>
        </form>
    </div>
</div>
</body>