<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 ">
    <h1> Create a New listings</h1><br>
    <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <lable for="title" class="form-label">Title: </lable><br>
        <input type="text"  name="title" required  class="form-control"><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid title
          </div>
        </div>
    <div>
        <lable for="Description"class="form-label">Description: </lable><br>
        <textarea name="description" class="form-control"id="s" rows="2" cols="20" required></textarea><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid Description
          </div>
    </div>
    <div>
      <lable for="image" class="form-label">Image: </lable><br>
        <input type="file"  name="listing[image]"   class="form-control"><br>
        </div>
    <div class="row">
    <div class="col-4">
        <lable for="price"class="form-label">price: </lable><br>
        <input type="number" class="form-control"name="price" min="0" required><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid price
          </div>
    </div>
    <div class="col-6">
        <lable for="location"class="form-label">location: </lable><br>
        <input type="text"class="form-control" name="location" required><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid location
          </div>
    </div>
</div><br>
    <div>
        <lable for="country"class="form-label">country: </lable><br>
        <input type="text" class="form-control"name="country" required><br>
        <div class="valid-feedback">
            Looks good!
          </div>    
        <div class="invalid-feedback">
            Enter valid country
          </div>
    </div><br><br>
        <button class="btn btn-dark buttons">ADD</button>
    </form>
</div>
</div>

</body>